.shop-lifelift-section {
    background-image: url('../../../assets/ProductIndex/shop-lifelift-section.jpeg');
    background-size: 100% 100%;
    height: 50vh;
}

.shop-lifelift-section > div {
    width: 25%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.shop-lifelift-section p {
    font-weight: bold;
}

.products-section {
    text-align: center;
}

.category-title {
    margin: 0;
}

.products-section > div:first-child {
    margin: 5% 0 3.5% 0;
}

.product-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 25% 25% 25%;
    justify-content: center;
}