.product-container a:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-image-container {
    height: 430px;
    background-color: #e5e7eb;
}

.product-img {
    background-image: url('../../../../assets/ProductIndex/medium-roast.jpeg');
    background-size: 100% 100%;
    width: 70%;
    height: 70%;
}

.product-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 680px;
}

.product-index-item {
    height: 225px;
    padding: 5% 5% 10% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-index-item > * {
    margin-bottom: 5%;
}

.product-index-item > div {
    display: flex;
    justify-content: center;
}