.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    height: 100%;
}

.signup-field {
    border: 0;
    box-shadow: 3pt 3pt 5pt 0.5pt #D3D3D3;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-family: inherit;
    padding: 15px;
    margin: 10px;
    width: 60%;
}

.signup-field::-webkit-input-placeholder {
    color: black;
}

